.splitter-container {
  display: inline-flex;
  width: 100%;
  height: 100%;
}

.splitter-divider-container {
  display: flex;
  align-items: center;
  margin: 2px;
}

.splitter-divider {
  height: 98%;
  width: 6px;
  cursor: col-resize;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(181, 181, 181);
  background: linear-gradient(180deg, rgba(192, 192, 192, 0.82) 5%, rgb(225, 224, 224) 48%, rgba(192, 192, 192, 0.82) 99%);
  border: 1px outset rgb(146, 146, 146);
  border-radius: 4px;
  touch-action: pan-x pan-y;
}

.splitter-divider:hover {
  background-color: rgb(161, 161, 161);
}

.splitter-divider-grabber {
  writing-mode: vertical-lr;
  height: 20px;
  border: 1px outset rgb(101, 95, 95);
}


.splitter-leftpanel-container {
  height: 100%;
  overflow: hidden;
}

.splitter-rightpanel-container {
  height: 100%;
  overflow: hidden;
}